@model workKFC.Models.meals

@{
    ViewData["Title"] = "餐點建檔";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<h1>餐點建檔</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
          
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="num" class="control-label"></label>
                <input asp-for="num" class="form-control" />
                <span asp-validation-for="num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                請選擇要上傳的檔案:
                <p><input type="file" name="photo" id="photo" /></p>
            </div>
            <p>&nbsp;</p>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回首頁</a>
</div>
